@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string dateadded = Model.DateAdded.DayOfWeek.ToString() +", "+ Model.DateAdded.ToString("M")+", " + Model.DateAdded.Year.ToString(); ;
    string releasedate = Model.ReleaseDate.DayOfWeek.ToString() + ", " + Model.ReleaseDate.ToString("M") + ", " + Model.ReleaseDate.Year.ToString();
    }


<h2>@Model.Name</h2>
<li>Genre: @Model.Genre.Name</li>
<li>Release Date: @releasedate</li>
<li>Date Added: @dateadded</li>
<li>Number in Stock: @Model.NumberInStock</li>


